html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #121212;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  color: #e8e8e8;
  margin: 0;
  padding: 0.625rem;
  min-height: 100dvh;
  overflow-y: auto;
  box-sizing: border-box;
}

.button {
  display: flex;
  height: 2rem;
  width: 2.625rem;
  background-color: #0088FF;
  border-radius: 0.5rem;
  padding: 0.75rem 3.125rem;
  margin: 0.625rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  box-shadow: inset 0px 0.0625rem 0.125rem 0.0625rem #00AAFF;
  
  text-decoration: none;
  color: white;
  user-select: none;
  overflow: visible;
}

.textinput {
  background-color: #1E1E1E;
  width: 9rem;
  height: fit-content;
  border: 0.0625rem solid #2a2a2a;
  border-radius: 0.3125rem;
  color: #e8e8e8;
  padding: 0.3125rem 0.4375rem;
  margin: 0;
  font-size: 1rem;
}

.textinput.wrong {
  border-color: #6A2D2D;
}

.textinput.correct {
  border-color: #2D6A2D;
}

.textinput:focus {
  outline: none;
  border-color: #2e2e2e;

}

.chip {
  background-color: #1E1E1E;
  width: fit-content;
  height: 1.5625rem;
  border: 1px solid #2a2a2a;
  border-radius: 0.3125rem;
  color: #e8e8e8;
  padding: 0.3125rem 0.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maincontainer {
  display: flex;
  flex-direction: column;
}

.secondarycontainer {
  display: flex;
  flex-direction: row;
  padding: 0.625rem 0rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* animation */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide out to right */
@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
} 

.messages {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  width: 10rem;
  height: fit-content;
  border: 0.0625rem;
  
  border-style: solid;
  border-radius: 0.3125rem;
  
  padding: 0.625rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  justify-content: center;
  align-items: center;
  animation: slideInRight 0.3s ease forwards;
}

.message.removing {
  animation: slideOutRight 0.3s ease forwards;
}

.messageTitle {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.messageDesc {
  margin: 0;
  padding: 0;
}

.messageGreen {
  border-color: #2D6A2D;
  background-color: #1A2E1A;
}

.messageYellow {
  border-color: #6A5A2D;
  background-color: #2E2A1A;
}

.messageRed {
  border-color: #6A2D2D;
  background-color: #2E1A1A;
}

.mainSelectorContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  padding: 5rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.secondarySelectorContainer {
  display: flex;
  width: auto;
  background-color: #1E1E1E;
  border: #2E2E2E;
  border-style: solid;
  border-radius: 6px;
  flex-direction: column;
  padding: 1rem;
  flex: 0 1 auto;
  min-width: 250px;
  text-wrap-mode: nowrap;
  align-items: center;
  max-height: 50vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.secondarySelectorContainer div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.secondarySelectorContainer form {
  display: grid;
  gap: 0.5rem;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

/* Hide default */
.checkbox input {
  display: none;
}

/* Custom box */
.checkmark {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #1e1e1e;
  border: 1px solid #333333;
  border-radius: 0.375rem; /* increase for more rounded */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
}

/* Checked state */
.checkbox input:checked + .checkmark {
  background-color: #00AAFF;
  border-color: #00AAFF;
}

/* Checkmark tick */
.checkbox input:checked + .checkmark::after {
  content: "";
  width: 0.35rem;
  height: 0.6rem;
  border: 2px solid #121212;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) translateY(-1.5px) translateX(-1.5px);
}